Makefile
Makefile.in
config.h
config.h.in
config.h.in~
depcomp.gitignore
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.lo
*.o
*.la
stamp-h1
*~