Android.mk
Makefile
Makefile.in
config.h
config.h.in
config.h.in~
depcomp.gitignore
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.lo
*.o
*.la
stamp-h1
*~
*.pyc
\#*\#
.#*


/tests/twisted/tools/exec-with-log.sh
/tests/twisted/tools/salut-exec-with-log.sh
/tests/twisted/tools/gabble-exec-with-log.sh
/tests/twisted/tools/org.freedesktop.Telepathy.Client.Logger.service
/tests/twisted/tools/org.freedesktop.Telepathy.MissionControl5.service
/tests/twisted/tools/org.freedesktop.Telepathy.ConnectionManager.salut.service
/tests/twisted/tools/org.freedesktop.Telepathy.ConnectionManager.gabble.service
/tests/twisted/tools/tmp-session-bus.conf
/tests/twisted/tools/missioncontrol*.log
/tests/twisted/tools/salut-testing.log
/tests/twisted/tools/gabble-testing.log
/tests/twisted/tmp-*/
/tests/twisted/config.py
/tests/twisted/with-session-bus*

gabble/caps-manager.c
gabble/channel-manager.c
gabble/utils.c
gabble/ytstenut.c

salut/caps-manager.c
salut/channel-manager.c
salut/utils.c
salut/ytstenut.c
